<div rowId = {pizza.rowid} class="cart_container_item_rows_row">
    <div class="wrapper">
        <img src="./public/{pizza.name}.jpg" alt="An image of {pizza.name} pizza">
    </div>
    <div class="wrapper">
        <p>{pizza.name}</p>
    </div>
    <div class="wrapper">
        <p>{pizza.price}</p>
    </div>
    <div class="wrapper">
        <input class="price" type="text" disabled/>
    </div>
    <div class="wrapper">
        <input id="button" class="button" type="button" value="Delete">
    </div>
</div>