<div class="blurb">
  <h1>Pizza Delivery</h1>
  <p class="blurb_paragraph">
    <p class="blurb_paragraph">
      Welcome to pizza delivery service. This is the place where you can choose the most delicious pizza you like from a wide variety of options!
    </p>
    <hr/>
    <p class="blurb_paragraph">
      We will perform delivery free of charge if your order is higher than 10$
    </p>
  </p>
  <div class="ctaWrapper">
    <a id="button" class="cta green signInAndOrderbtn" href="#">Sign In and Order</a>
  </div>
</div>