<div class="menu_container">
    <h1 class="menu_header1">Menu</h1>
    <div class="menu_items_container">
        <div class="menu_items_container_item_wrapper">
            <img src="./../public/cheese.jpg" alt="image of cheese pizza">
            <h2>Cheese</h2>
            <div class="menu_items_container_item_wrapper_btn_and_price">
                <a id="button" class="cta green" href="#">Add to Cart</a>
                <p>$8.3</p>
            </div>
        </div>
        
        <div class="menu_items_container_item_wrapper">
            <img src="./public/carne.jpg" alt="image of carne pizza">
            <h2>Carne</h2>
            <div class="menu_items_container_item_wrapper_btn_and_price">
                <a id="button" class="cta green" href="#">Add to Cart</a>
                <p>$18.3</p>
            </div>
        </div>
        
        <div class="menu_items_container_item_wrapper">
            <img src="./../public/cheeseburger.jpg" alt="image of cheeseburger pizza">
            <h2>Cheeseburger</h2>
            <div class="menu_items_container_item_wrapper_btn_and_price">
                <a id="button" class="cta green" href="#">Add to Cart</a>
                <p>$28.3</p>
            </div>
        </div>

        <div class="menu_items_container_item_wrapper">
            <img src="./../public/donbacon.jpg" alt="image of donbacon pizza">
            <h2>Donbacon</h2>
            <div class="menu_items_container_item_wrapper_btn_and_price">
                <a id="button" class="cta green" href="#">Add to Cart</a>
                <p>$38.3</p>
            </div>
        </div>
        
        <div class="menu_items_container_item_wrapper">
            <img src="./../public/cipollo.jpg" alt="image of cipollo pizza">
            <h2>Cipollo</h2>
            <div class="menu_items_container_item_wrapper_btn_and_price">
                <a id="button" class="cta green" href="#">Add to Cart</a>
                <p>$48.3</p>
            </div>
        </div>
        
        <div class="menu_items_container_item_wrapper">
            <img src="./../public/julienne.jpg" alt="image of julienne pizza">
            <h2>Julienne</h2>
            <div class="menu_items_container_item_wrapper_btn_and_price">
                <a id="button" class="cta green" href="#">Add to Cart</a>
                <p>$58.3</p>
            </div>
        </div>
    </div>
</div>